/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

/* Add your custom styles here... */

/* Content width box 970 */

.max-970 {max-width: 970px; margin: 0 auto;}
.max-1200 {max-width: 1200px; margin: 0 auto;}

a:focus,
button:focus{
    outline: none !important;
}
a.fl-button {border-radius: 0 !important;color: #fff !important; text-transform: uppercase;}

a.fl-button, a.fl-button:visited, .fl-builder-content a.fl-button{
    background-color: #bca648!important;
    color: #ffffff !important;
    border: 1px solid #bca648!important;
}
a.fl-button:hover, .fl-builder-content a.fl-button:hover {
        background: #a8933f !important;
    border: 1px solid #a8933f!important;
}
.fl-button-text {color: #fff !important;}


.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}
.fa-map-marker:before {
    content: "\f041" !important;
}

.btn-grey  a.fl-button, .btn-grey  a.fl-button:visited, .btn-grey  .fl-builder-content a.fl-button{
    background: #908C7B !important;
    color: #ffffff !important;
    border: 1px solid #908C7B!important;
}
.btn-grey  a.fl-button:hover, .btn-grey  .fl-builder-content a.fl-button:hover {
    background: rgba(144,140,123, 0.90) !important;
    border: 1px solid rgba(144,140,123, 0.90)!important;
}

.btn-white  a.fl-button, .btn-white  a.fl-button:visited, .btn-white  .fl-builder-content a.fl-button{
    background: #fff !important;
    color: #554E46 !important;
    border: 1px solid #554E46!important;
}
.btn-white a.fl-button:hover, .btn-white .fl-builder-content a.fl-button:hover {
    background: rgba(85,78,70, 0.10) !important;
    border: 1px solid rgba(85,78,70, 0.10) !important;
}
.btn-white .fl-button-text {color: #554E46 !important}

.btn-ltblue  a.fl-button, .btn-ltblue  a.fl-button:visited, .btn-ltblue  .fl-builder-content a.fl-button{
    background: #84A3B8 !important;
    color: #ffffff !important;
    border: 1px solid #84A3B8!important;
}
.btn-ltblue  a.fl-button:hover, .btn-ltblue  .fl-builder-content a.fl-button:hover {
    background: rgba(132,163,184, 0.90) !important;
    border: 1px solid rgba(132,163,184, 0.90)!important;
}

.btn-blue  a.fl-button, .btn-blue  a.fl-button:visited, .btn-blue  .fl-builder-content a.fl-button{
    background: #263850 !important;
    color: #ffffff !important;
    border: 1px solid #263850 !important;
}
.btn-blue  a.fl-button:hover, .btn-blue  .fl-builder-content a.fl-button:hover {
    background: rgba(38,56,80, 0.90) !important;
    border: 1px solid rgba(38,56,80, 0.90)!important;
}

.breadcrumbs {
    font-size: 90% !important; margin-top: 20px;
}


/* Carousel dots over top of slide */
@media only screen and (min-width : 768px) {
    .bx-wrapper .bx-pager {
        padding: 0;
    }

    .bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
        bottom: 20px !important;
    }

    .bx-wrapper .bx-pager.bx-default-pager a {
        background: #dedede;
    }
}

.white-text {color: #ffffff !important;}
.white-text h1, .white-text h2, .white-text h3{color: #ffffff !important;}



/* Home Main Carousel */
.home-main-carousel .fl-slide-text h3{font-size: 3.4em;line-height: 1em;}

.home-main-carousel .fl-slide-0 .fl-slide-cta-button {padding-top: 0 !important;}
.home-main-carousel .fl-slide-cta-button {margin-top: 15px;}
.zone-3 h2, .zone-3 h3, .zone-3 p{margin: 0 !important; padding: 0 !important;}
.zone-3 {}
.zone-3 h2 {font-size: 3.4em;line-height: 1em;font-weight: 300;}
.zone-3 h3 {font-size: 4.5em; font-weight: 700;line-height: 1em;}
.zone-3 p {font-size: 1.8em;line-height: 1.5em; padding-top: 10px !important;}

.fl-content-slider-navigation .slider-prev {
    left: 0px;
    background: #84A3B8;
    padding: 10px;
}
.fl-content-slider-navigation .slider-next{
    right: 0px;
    background: #84A3B8;
    padding: 10px;
}

/* Image Gallery Modal */

.gallery-modal {
    display:none;
}

.open-gallery-modal {
    cursor:pointer;
}
@media(max-width:768px){
	.active-gallery-modal .content{
        display:block;
    }
    .active-gallery-modal .content>* {
        display:block;
    }
    .active-gallery-modal .col_swatch {
        width:100%;
        height:100vw;
        max-height:200px;
    }
    .active-gallery-modal .close_modal {
        color:white;
        right:10px;
        text-shadow: 0px 0px 10px rgba(0,0,0,0.7);
    }
    .active-gallery-modal .product-box {
        padding:30px 0px;
    }
    .home-main-carousel {
        margin-top:0;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide-cta-button {
        text-align:left;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide .fl-slide-text {
        text-align:left;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide .fl-slide-text h3 {
        line-height: 1em!important;
        font-size:2.7em!important;
        margin-top:50px!important;
    }

    .home-main-carousel .fl-slide-mobile-photo {
        display:none!important;
    }
    .home-main-carousel .fl-slide-content {
        background-color:transparent!important;
    }
    .home-main-carousel .fl-content-slider .fl-slide-bg-photo {
        position:absolute!important;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide .fl-slide-content {
        height:350px;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide img {
        display:block;
        margin:auto;
        max-width: 300px;
    }

    .home-main-carousel .fl-content-slider .fl-slide.fl-slide-0 .fl-slide-mobile-photo {
        display: block !important;
    }
    .home-main-carousel .fl-content-slider .fl-slide.fl-slide-0 .fl-slide-bg-photo{
        position: static !important;
    }
    
    .home-main-carousel .bx-wrapper .bx-pager a{
        padding:5px;
        display:block;
    }

    .home-main-carousel .fl-button {
        font-size:12px!important;
    }


}


/* Nav 1 Mega Menu */
.fl-page-nav-right .fl-page-nav-wrap a, .fl-page-nav-right .fl-page-nav-wrap a * {color: #fff !important;}

.fl-page-nav-wrap .navbar-nav > li > a {font-weight: 400; color: #fff !important; font-size: 13px; text-transform: uppercase;}
.fl-page-nav-wrap .navbar-nav > li > ul.sub-menu {border: none;}
.fl-page-nav-wrap .navbar-nav > li > ul.sub-menu a{color: #fff !important;}


.yawp_wim_title {display: none;}
@media screen and (min-width: 992px) {
    ul.navbar-nav li.mega-menu > ul.sub-menu { border: none;}
    ul.navbar-nav li.mega-menu > ul.sub-menu > li {  width: 18.5%;  float: left; border-color:white;}
    ul.navbar-nav li.mega-menu > ul.sub-menu > li a{ padding: 5px; color: #fff !important; }
    ul.navbar-nav li.mega-menu > ul.sub-menu > li.menu-item-type-yawp_wim {width:26%;margin-bottom:-70px;clear:right;}
}
@media screen and (max-width: 991px) {
    ul.navbar-nav li.mega-menu > ul.sub-menu li > ul.sub-menu { display: none;}
    ul.navbar-nav li.mega-menu > ul.sub-menu > li:nth-child(4){ display: none;}
    .fl-page-nav-right .fl-page-nav-cart {display: none;}
    ul.navbar-nav li.mega-menu > ul.sub-menu > li {
        width:50%;
        display:block;
        float:left;
        border-color: transparent;
    }
}
@media (min-width: 992px){
    .fl-page-nav-right .fl-page-nav ul.navbar-nav {
        float: none !important;
        margin-left: 0;
    }
    ul.navbar-nav>li:not(.mega-menu) > ul.sub-menu {
        /* margin-left:-60%; */
        text-align:center;
    }
    ul.navbar-nav>li:not(.mega-menu) > ul.sub-menu>li {
        border-bottom:1px solid #EEEEEE;
    }
    ul.navbar-nav>li:not(.mega-menu) > ul.sub-menu>li:last-child {
        border:0px;
    }
    .fl-page-header-primary .fl-logo-img{
        max-height: 120px;
    }
}
@media screen and (max-width: 768px) {
    ul.navbar-nav li.mega-menu > ul.sub-menu > li {
        width:100%;
        float:none;
        display:block;
        border-color: #e6e6e6;
    }
}

.fl-page-nav-right .fl-page-nav-search {
    float: right;
    position: relative;
}
.fl-page-nav-right .fl-page-nav-cart {
    float: right;
    position: relative;
    font-size: 20px;
    padding: 8px 15px 8px 60px;
}
.fl-page-nav-search form input.fl-search-input {
    background-color: #fff;
    border-color: #274f6b;
    color: #263850 !important;
}

.fl-page-nav-search form {
    border-top: 0px solid #a1c5e5;
    display: none;
    padding: 40px;
    position: absolute;
    right: -40px;
    top: 64px;
    width: 1040px;
}
@media screen and (max-width: 1099px) {
    .fl-page-nav-search form {
        background-color: #767676;
        border-top: 0px solid #a1c5e5;
        display: none;
        padding: 40px;
        position: absolute;
        right: 0;
        top: 65px;
        width: 100%;
    }
}


/* Slick slider */

.slick-slide{
    opacity: .4;
}
.slick-center{
    opacity: 1;
}
.wpsisac-slick-carousal button.slick-prev, .wpsisac-slick-carousal button.slick-prev:hover, .wpsisac-slick-carousal button.slick-prev:focus {
    background: rgba(132,163,184,0.7) url(images/left.png) center center no-repeat !important;
    background-size: 19px 28px !important;
    outline: none !important;
}
.wpsisac-slick-carousal button.slick-next, .wpsisac-slick-carousal button.slick-next:hover, .wpsisac-slick-carousal button.slick-next:focus {
    background: rgba(132,163,184,0.7) url(images/right.png) center center no-repeat !important;
    background-size: 19px 28px !important;
    outline: none !important;
}

.wpsisac-slick-carousal button.slick-arrow {
    width: 51px;
}


.wpsisac-slick-carousal.design-6 .slick-dots {
    left: 15px !important;
    right: 15px;
    text-align: center;
    bottom: -40px !important;
}

 .slick-dots li button {
    background: #fff !important;
    margin: 0px !important;
    padding: 0px !important;
    border: none !important;
    border-radius: 50% !important;
    width: 13px !important;
    height: 13px !important;
}
.slick-image-slide-wrap {position: relative;}
.caption-content {float: left; margin-top: -60px;position: relative; z-index: 500; margin-left: 30px; font-size: 16px; color: #fff;}


/* Tabs 1 */
.tabs-1 .fl-tabs-panels{border-color: transparent !important;}
.tabs-1 .fl-tabs-label {border-color: transparent !important; width: 25%; margin-bottom: 40px; text-transform: uppercase; color: #767676;font-weight: 700;}
.fl-tabs-label.fl-tab-active {
    border-color: transparent !important; color: #000000; font-weight: 700;
}

.fl-tabs-panel-content .row {margin-left:-30px; margin-right: -30px; margin-top: -30px;}

.tabs-1 .fl-row-fixed-width, .tabs-1 .fl-row-content-wrap  {max-width: 100% !important; margin: 0 !important; padding: 0 !important;}
.tabs-1 .fl-tabs-panel-content {padding: 0; margin: 0; width: 100%;}
.tabs-1 .fl-tabs-panels,.tabs-1 .fl-tabs-panel {border: none;}

.fl-tabs-labels .fl-tabs-label {outline: none !important;}

/* Tabs */

.tabs-2 .fl-tabs-panels{border-color: transparent !important;}
.tabs-2 .fl-tabs-label {border-color: transparent !important; text-transform: uppercase; color: #767676;font-weight: 700;}
.fl-tabs-label.fl-tab-active {
    border-color: transparent !important; color: #000000; font-weight: 700;
}

.tabs-2 .fl-tabs-labels { max-width: 82%; margin: 0 auto; text-align: center;}


.tabs-3 .fl-tabs-label.fl-tab-active:after {
    content: '';

    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-3 .fl-tabs-label { max-width: 33%; margin: 0 auto; text-align: center;}
.tabs-3.four .fl-tabs-label { max-width: 25%; margin: 0 auto; text-align: center;}
@media screen and (max-width: 768px) {
    .tabs-3 .fl-tabs-label { max-width: 100%; white-space: nowrap; }
}
.tabs-3 .fl-tabs-labels{margin-bottom: 20px}
.tabs-3 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 70%;
    position: absolute;
    left:15%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #BCA648;
}
.tabs-3 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
    border-radius: 100%;
    padding-bottom: 20px;
}
.tabs-3 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}
.tabs-3 .fl-tabs-labels {max-width: 970px !important; margin: 0 auto;}
.tabs-3 .fl-tabs-panel-content {padding: 0 !important; margin: 0 !important; background-color: #F9F9F9 !important;}
.tabs-3 .fl-tabs-panel-content .row {max-width: 970px; margin: 0 auto; padding: 30px;}

.tabs-4 .fl-tabs-label.fl-tab-active:after {
    content: '';

    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}
.tabs-4 .fl-tabs-label { max-width: 25%; margin: 0 auto; text-align: center;}
.tabs-4 .fl-tabs-labels{margin-bottom: 20px}
.tabs-4 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 90%;
    position: absolute;
    left:5%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #BCA648;
}
.tabs-4 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
    border-radius: 100%;
}
.tabs-4 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-products h2 {font-size: 1.5em;}

/* Category Boxes */
.cat-boxes a{font-weight: 400 !important;}

/* Carousel 2 */
.carousel-2 .fl-content-slider-navigation path {
    fill: #767676;
}
.carousel-2 .bx-wrapper .bx-pager.bx-default-pager a.active, .carousel-2 .bx-wrapper .bx-pager.bx-default-pager a:focus, .carousel-2 .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: #767676;
}


/* lightbox */
.fl-button-lightbox-wrap .mfp-content {
    background: transparent !important;
}
.mfp-wrap.fl-button-lightbox-wrap .mfp-close, .mfp-wrap.fl-button-lightbox-wrap .mfp-close:hover {
    color: #fff!important;
    right: -4px;
    top: -10px!important;
}

.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.0);
    background: transparent !important;
}

/* Mega Menu ShortCode */

header .fl-row-content {position:relative;}

@media(min-width:1024px){

    .sc_mega_menu ul.navbar-nav>li.menu-item-has-children>a::before {
        content: '';
        position: absolute;
        right: -5px;
        top: 50%;
        z-index: 1;
        display: block;
        width: 9px;
        height: 9px;
        margin: -5px 2px 0 0;
        border-right: 2px solid;
        border-bottom: 2px solid;
        -webkit-transform-origin: right bottom;
        -ms-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: translateX( -5px ) rotate( 45deg );
        -ms-transform: translateX( -5px ) rotate( 45deg );
        transform: translateX( -5px ) rotate( 45deg );
        border-color: #767676;
    }
}

.sc_mega_menu .navbar-nav > li > a {
    padding:15px 13px;
}

.sc_mega_menu ul.sub-menu li li a{
    margin:0px;
}

.sc_mega_menu .fl-page-nav-wrap {
    border:0px;
}
.textwidget a.acc_banner_link {padding: 0 !important;}

@media(max-width:1024px){
    .sc_mega_menu .navbar-nav > li > a {
        padding:15px 8px;
    }
}

@media(max-width:900px){
    .sc_mega_menu .navbar-nav > li > a {
        padding:15px 0px;
    }
}

@media (min-width: 992px){
    .fl-page-nav-wrap .navbar-nav > li > ul.sub-menu a {
        color: #263850 !important;
    }
}
/* Mega Menu Full width */
@media (min-width: 768px)
{
    .fl-col-small{
        max-width: 100%;
    }
    ul.navbar-nav li.mega-menu ul.sub-menu {
        border-top:5px solid #BBA558;
    }
    /*This is just removing some default styles(not required)
    .fl-page-nav UL.sub-menu
    {
        padding: 10px 0;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 0;
    }*/

    .fl-page-nav ul.sub-menu {background-color: #fff !important;}
    .fl-page-nav-wrap .navbar-nav > li > ul.sub-menu a {
        /* color: #263850 !important; */
    }
    ul.sub-menu>li {
        border-bottom: none !important; text-align: left;
    }

     .navbar-nav>li.menu-item-has-children:hover::before {
        content: "▲";
        color:#fff;
        position: absolute;
        z-index:1001;
        bottom:-5px;
         left: 45%;
        text-shadow: -1px -1px 0px rgba(0,0,0,0.05);
        -webkit-transform:scale(1.5,1); /* Safari and Chrome */
        -moz-transform:scale(1.5,1); /* Firefox */
        -ms-transform:scale(1.5,1); /* IE 9 */
        -o-transform:scale(1.5,1); /* Opera */
        transform:scale(1.5,1); /* W3C */
    }

    UL.navbar-nav LI.mega-menu> UL.sub-menu:after
    {
        content: "";
        display: block;
        position: absolute;
        left: auto;
        top: -1px;
        height: 100%;
        width: auto;
        transform: translateX(-50%);
        z-index: -1;
        box-sizing: border-box;
        /*These styles are replacing the BB style that are being over written above (not required)*/
        border-top: 1px solid #DEDEDE;
        /*+box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);*/
        -moz-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        background-color: #fff;
    }

    .sc_mega_menu {
        margin-top:10px;
    }

    .sc_mega_menu .mega-menu .sub-menu {
        left:0px!important;
        position:relative;
    }
    .sc_mega_menu .navbar-nav>li.menu-item-has-children:hover::before {
        content: "▲";
        color:#BBA558;
        position: absolute;
        z-index:1001;
        bottom:-5px;
        margin-left:40%;
        text-shadow: -1px -1px 0px rgba(0,0,0,0.05);
        -webkit-transform:scale(1.5,1); /* Safari and Chrome */
        -moz-transform:scale(1.5,1); /* Firefox */
        -ms-transform:scale(1.5,1); /* IE 9 */
        -o-transform:scale(1.5,1); /* Opera */
        transform:scale(1.5,1); /* W3C */
    }

    .sc_mega_menu .navbar-nav>li.mega-menu.menu-item-has-children:hover::before {
        text-shadow: -1px -1px 0px rgba(0,0,0,0.1);
    }

    .sc_mega_menu .navbar-nav>li.menu-item-23.menu-item-has-children:hover::before {
        margin-left:80px;
    }

    .sc_mega_menu ul.navbar-nav li.mega-menu > ul.sub-menu > li:nth-child(3) {
        border:0px;
    }

    .sc_mega_menu ul.navbar-nav li.mega-menu > ul.sub-menu > li:nth-child(4) {
        margin-bottom:-55px;
        border:0px;
        padding: 0 !important;
    }

    .sc_mega_menu ul.navbar-nav>li.menu-item-has-children>a::after {
        content:"";
        display:block;
        position:absolute;
        width:100%;
        height:50px;
    }
}

@media (max-width: 768px)
{
    .header-boxed-1 .fl-slide-content-wrap{
        padding: 0px;
    }
}


/* Web Forms */

.web-form input {border-radius: 0 !important;}
.web-form .gform_body label {font-weight: 400 !important;color: #fff !important;}
.web-form .gform_footer {text-align: center !important;}
.web-form .button{ padding: 10px 30px; color: #fff!important; border: none !important;}
.web-form .gform_wrapper div.validation_error {color: #790000 !important;}
.web-form .textarea{border-radius: 0 !important; max-height: 120px;}
.web-form select{padding: 5px !important;}
.web-form .ginput_container_time select {padding: 0 !important;}
body .gform_wrapper .gform_body .gform_fields .gfield select {border: 1px solid #e6e6e6; background-color: #FCFCFC!important;}
.ui-datepicker-title {color: #333;}
.web-form button, .web-form input[type=button], .web-form input[type=submit]{
    background: #263850  !important;
    border: none;
}
.web-form button:hover, .web-form input[type=button]:hover, .web-form input[type=submit]:hover {
    background: #263850 !important;
    border: none;
}
.web-form select {padding:  8px !important;}
.web-form a {color: #152B3A !important; font-weight: 700 !important;}
.form-terms label.gfield_label {display: none !important;}

.msg-terms{font-size: 85%;}

@media (max-width: 768px) {

    .gform_wrapper input.large, .gform_wrapper input.medium, .gform_wrapper input.small, .gform_wrapper select.large, .gform_wrapper select.medium, .gform_wrapper select.small {
        max-width: 95%;
    }
}

/* 500 Coupon Page */
.coupon  h2 {font-size: 2.5em;line-height: 1em;font-weight: 300;}
.coupon  h1 {font-size: 4.5em; font-weight: 700;line-height: 1em;margin: 0; padding: 0;}
.coupon h3{}
.coupon h4 {font-size: 1.2em; font-weight: normal;}

/* Default Form Page */
.default-form  h2 {font-size: 2.8em;line-height: 1em;font-weight: 300;}
.default-form  h1 {font-size: 3.5em; font-weight: 700;line-height: 1em;margin: 0; padding: 0;}
.default-form h3{}
.default-form h4 {font-size: 1.2em; font-weight: normal;}


/*Tabs Grey */
/* .tabs-grey .fl-tabs-panels {background-color: #FBFBFB !important;} */


/* Window Coverings */
.window-categories {font-size: 90%;}
.window-categories h4{font-size: 1.2em !important;}
.window-categories a{font-weight: 700; font-size: 90%;}


/*Project Gallery */
.project-gallery .fl-photo-caption-below {
 text-align: left !important;
}

/* IMage Galleries */
.fl-post-grid-gallery{width: 300px; height: 300px;}

/* Reviews */
.reviews h4 {margin-bottom: 0; padding-bottom: 0; }
.reviews img {margin: 0; padding: 0 0 5px 0; }


/* product row */
.product-row h4, .product-row h5 {font-weight: 300; text-transform: uppercase;}
.product-row h3 {text-transform: uppercase;}

/* Product Grid */

.swatch-thumb {
    max-height: 238px;
    overflow: hidden;
}

.swatch-thumb img {
    width: 100%;
    height: auto;
}
.product-grid.swatch {text-align: center;}
.product-grid.rooms {text-align: left;}
.product-grid.featured {text-align: center;}

.product-grid.swatch h2{
    font-weight: 700; margin: 0 0 10px 0; padding: 0; text-transform: uppercase;
    font-size: 16px;
}
.product-grid.swatch h4{
    font-size: 10px;margin: 5px 0 0 0; padding: 0; text-transform: uppercase; color: #929292;
}

.product-grid.rooms h2{
    font-weight: 700; margin: 10px 0 0 0; padding: 0; text-transform: uppercase;
    font-size: 16px;
}
.product-grid.rooms h4{
    font-size: 10px;margin: 5px 0 5px 0; padding: 0; text-transform: uppercase; color: #929292;
}



.strike-price{ color: #929292; text-decoration: line-through !important; margin-right: 10px; }
.sale-price {  font-weight: 700; color: #212121;}

.product-grid.featured h2{
    font-weight: 700; margin: 0 0 15px 0; padding: 0; text-transform: uppercase;
    font-size: 16px;
}
.product-grid.featured h4{
    font-size: 10px;margin: 10px 0 0 0; padding: 0; text-transform: uppercase; color: #929292;
}

.product-grid .fl-button {margin-bottom: 10px; }
.product-grid .fl-button-text {font-size: 12px;}
.product-grid a {text-decoration: none;font-size: 13px;}
.product-grid a.link {color: #929292;}
.product-grid a.link:hover{text-decoration: underline;color: #929292;}

.product-grid a.greylink {color: #908c7b;}
.product-grid a.greylink:hover{text-decoration: underline;color: #908c7b;}



@media (max-width: 767px) {
    /* .product-grid.swatch .row>:nth-child(2n+1) {
        clear:left;
    } */
}
@media (min-width: 768px) and (max-width: 991px) {
    /* .product-grid.swatch .row>:nth-child(3n+1) {
        clear:left;
    } */
}
@media (min-width: 992px) {
    /* .product-grid.swatch .row>:nth-child(4n+1) {
        clear:left;
    } */
}


@media (min-width: 992px) {
    .product-grid.rooms .row>:nth-child(4n+4) {
        clear:left !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .product-grid.rooms .row>:nth-child(2n+1) {
        clear:left;
    }
}



.product-grid .swatch-thumb img{width:100%; height: auto; }

.product-grid .fl-post-grid-post{ margin-bottom: 40px;

}

.facetwp-facet select{width:100%; padding: 10px;}

.facetwp-selections ul li {font-size: 16px;}
.facetwp-per-page {text-align: right !important; }
.facetwp-per-page select{ padding: 5px;}

.facetwp-counts { }
.facetwp-pager { float: right;}
.bottom-pager .facetwp-pager{ float: none; text-align: center;}
.facetwp-pager span.pager-text {font-size: 14px !important; padding-right: 10px; }
.facetwp-pager span.pager-arrow{font-size: 28px;}

.facetwp-pager a{color:#929292; vertical-align: middle;}
.facetwp-pager a:hover {text-decoration: none;}
.facetwp-page {
    display: inline-block;
    padding: 0px 4px;
    margin-right: 6px;
    cursor: pointer;
}
.facet_filters .facetwp-facet{ margin-bottom: 25px;}
.facet_filters strong {font-size: 16px; color: #630A0A; display: block; margin: 0 0 10px;}
.facet-inner { max-height: 360px; overflow: auto;}
.product-count{ text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.9);}

.product-box {text-align: left; padding: 2rem 2rem 3.5rem 2rem;}
.product-box a.fl-button{
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 180px !important;
    display: block;
    text-align: center;
}
.product-box a.fl-button:hover{text-decoration: none;}
.product-box a.fl-button.btn-white{
    background-color: transparent !important;border-color: #554E46 !important;
}
.product-colors ul{ margin:15px 0 0 0; padding: 0; list-style: none;
}
.product-colors ul li{display: inline-block;text-align: left;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 2px;
    margin-bottom: 40px;
}
.product-colors ul li.found {
    font-size: 5rem;
    padding-right: 15px;
    font-weight: 300;
}
.product-atts ul{margin: 40px 0 0 0; padding:0; color: #008c8c;}
.product-atts ul li{list-style: none; display: inline;margin: 0; padding: 20px 10px;text-transform: uppercase; letter-spacing: 1px;}
.product-box h1{
    margin: 0 0 0 0; padding:0; text-transform: none; font-weight: 700;
}
.product-box h2{
    margin: 0 0 0 0; padding:0;
    font-size: 1.8rem;
}
.product-atts a.fl-button{
    padding: 10px 40px;
}
.product-swatch {text-align: center;}
.product-swatch .img-responsive {
    background-size:cover;
    background-position: center;
}
.product-swatch .img-responsive img{
    visibility: hidden;
}

.product-variations {margin: 80px 0 50px 0;}
.product-variations img{width: 100%; height: auto; }

.product-attributes{text-transform: capitalize; margin-bottom: 80px; margin-top: 60px;}

img.product-logo {
    max-width: 140px;
    height: auto;
    margin-bottom: 15px;
}

.color-box{margin-bottom: 30px; line-height: normal; min-height: 180px;}

.color-box small{font-size: 80%;}

.product-brand {
    text-transform: uppercase;
    font-size: 0.85em;
    margin-bottom: 0;
    min-height: 20px;
    letter-spacing: 2px;
}
.faceted_results {
    margin-top:20px;
}



/* TOGGLE BOX BOTTOM */
.fr_toggle_box{
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:1000;
}

.fr_toggle_box .bg {
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background-color:rgba(0,0,0,0.5);
    display:none;
}

.fr_toggle_box .box_content {
    background-color:white;
    width:100%;
    z-index:1;
    position:fixed;
    bottom:0px;
    display:none;
}

.fr_toggle_box .handle {
    background-color: #383838;
    padding:20px 30px;
    color:white;
    font-size:18px;
    font-weight:bold;
    text-transform: uppercase;
    width:500px;
    max-width:100%;
    margin:auto;
    margin-top:-66px;
    cursor: pointer;
}


.fr_toggle_box.active .handle i{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}





.fr_toggle_box .box_content table {
    width:100%;
    table-layout: fixed;
}

.fr_toggle_box .padding {
    padding:40px;
}

.fr_toggle_box .box {
    width:100%;
    height:100%;
    min-height:275px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.fr_toggle_box .box_white {
    border:0px solid #212121;
    color:#212121;
}
.fr_toggle_box .box_red {
    background-color:#C92830;
    color:white;
}
.fr_toggle_box .box * {
    color:inherit;
}

.fr_toggle_box td {
    padding: 0px 20px;
}

[data-fr-link] {
    cursor:pointer;
}

.fr_toggle_box .fixed_bottom {
    text-align:center;
    position:absolute;
    bottom:10px;
    width:100%;
}

.fr_toggle_box .fl-button {
    background: #cc252a;
    font-size: 13px;
    line-height: 15px;
    padding: 10px 20px;
    color:white;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    margin-bottom:10px;
    cursor:pointer;
}

.fr_toggle_box .box_red .fl-button {
    background-color:white!important;
    color:#cc252a!important;
}

.fr_toggle_box .text {
    padding:40px 0px 0px;
}
.fr_toggle_box .text *{
    margin-top:0px;
    margin-bottom:0px;
}

.fr_toggle_box .text h2 {
    font-size:45px;
}
.fr_toggle_box .text p {
    margin-top:10px;
}

@media(max-width:1024px){
    .fr_toggle_box {
        display:none;
    }
}




.toggle-image-thumbnails {
    position:absolute;
    bottom:20px;
    left:40px;
}

.toggle-image-thumbnails a {
    border:3px solid white;
    width:50px;
    height:50px;
    display:block;
    float:left;
    margin-right:20px;
    background-size:cover;
    background-position: center;
    transition:All 0.5s ease;
    -webkit-transition:All 0.5s ease;
    -moz-transition:All 0.5s ease;
    -o-transition:All 0.5s ease;
}

.toggle-image-thumbnails a:hover {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}



.fr-slider {
    position: relative;
}

.fr-slider .arrow{
    position:absolute;
    font-size:30px;
    color:#212121;
    z-index:2;
    height:130px;
    line-height:130px;
    text-align:center;
    width:30px;
    float:left;
}

.fr-slider .arrow.prev{
    left:-20px;
}

.fr-slider .arrow.next{
    right:-20px;
}
.fr-slider .slides {
    margin:0px 10px;
}

.fr-slider .slide {
    padding:0px 7px;
}

@media(max-width:768px){
    .fr-slider .arrow{
        height:80px;
        line-height:80px;
    }
}

.fl-social-icons {float: right; margin-top: -60px;}
.fl-social-icons a{color: #84A3B8;}
.fl-social-icons a:hover{color: #84A3B8;}

@media (max-width: 768px)
{
    .fl-social-icons {float: none;clear: both; margin: 0 auto;}
}

.cat-boxes .fl-row-content {max-width: 970px; margin: 0 auto;}

ul#menu-top-bar-menu li a {text-transform: uppercase; font-size: 90%;}
@media (max-width: 768px) {
ul#menu-top-bar-menu {display: none;}
}

.coupon-form-box h3{font-size: 1em !important; color: #263850;}

.fl-page-footer-widgets {
    border: none;
    background-color:#000000;
    /* color: #000000; */
}

ul#menu-footer-menu-1 {margin-left: -20px;}
ul#menu-footer-menu-1 li { display: inline-block; padding: 5px 20px;}
ul#menu-footer-menu-1 li a{color: #fff; text-transform: uppercase; font-size: 0.9em;}

.social-links{ margin: 25px 0 0;}
.social-links ul{ list-style: none; margin: 0; padding: 0;}
.social-links ul li{ display: inline-block; vertical-align: top; margin: 0 10px 0 0;}
.social-links ul li a{display: block; font-size: 20px; color: #8e8e8e; padding: 5px; border: 1px solid #ccc; line-height: 25px; border-radius: 50%; width: 35px; height: 35px; text-align: center;}
.social-links ul li a .fa{ font-weight: 400;}
.social-links ul li a:hover{ background-color: #fff;}
.social-links ul li a:hover .fa{ color:#000;}

.fl-page-footer-widgets .fl-widget {
    margin-bottom: 30px;
}

.fl-page-footer {font-size: 80%;}

.fl-page-footer .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 5px;
}

.fl-page-footer .fl-page-footer-nav {
    margin: -10px -15px 10px;
}

footer .icon-box h4{color: #C4A06E !important;}
footer .icon-box i{color: #84A3B8 !important;}
footer .icon-box a h4:hover{color: rgba(196,160,110, 0.85) !important;}
footer .icon-box a:hover{text-decoration: none !important;}

/* modal */
 .modal-content input[type=submit] {
    color: #fff !important;
    font-size: 16px;
    line-height: 18px;
    padding: 14px 28px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: #bba54f;
    border: 1px solid #af9943;
}

.modal-content input[type=submit]:hover {
    color: #fff !important;
    font-size: 14px;
    line-height: 18px;
    padding: 14px 28px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: #a8933f;
    border: 1px solid #af9943;
}

button.modal-button {
    color: #fff !important;
    font-size: 16px;
    line-height: 18px;
    padding: 14px 28px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: #bba54f;
    border: 1px solid #af9943;
}
button.modal-button:hover {
    color: #fff !important;
    font-size: 16px;
    line-height: 18px;
    padding: 14px 28px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: #af9943;
    border: 1px solid #af9943;
}
.gform_wrapper .timeEstimate .gfield_time_hour i{
    width: 5px;
    font-weight: bolder;
    margin-top: -28px;
}
div#sifContainer{
    padding: 20px;
    max-width: 350px;
    margin-left: auto;
}



/*  Responsive media  */

@media(max-width:992px){
    .fl-builder-content .fl-node-5bffb0cdd5fd8{
        width: 100% !important;
    }
    .fl-page-header-logo.fl-inline-logo-right{
        margin: 0 auto;
        text-align: center !important;
        width: 100%;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav .navbar-toggle *{
        color:#ffffff;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav .navbar-toggle{
        top: 60px;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav ul.sub-menu li{
        background: #2b2b2b;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav ul.sub-menu ul.sub-menu li {
        background: #4e4e4e;
    }

    /* two col */
    .twoCol-iPad .fl-col-content {
        display: flex;
        justify-content: space-around;
    }

    /* listing page */

    .product-grid.swatch h4{
        margin-top: 10px;
        font-size: 12px;
    }
    .product-grid.swatch .fl-button {
        padding: 12px 18px;
    }

    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile.fl-page-nav-centered-inline-logo .fl-page-header-logo-col {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile.fl-page-nav-centered-inline-logo .fl-page-nav-search,
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile.fl-page-nav-centered-inline-logo .navbar-toggle{
        display: block;
    }
   
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile.fl-page-nav-centered-inline-logo .fl-page-nav-search,
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile.fl-page-nav-centered-inline-logo a.fa-search{
        position: static;
    }

    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav-collapse .fl-page-nav-search{
        display: none;
    }

    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile.fl-page-nav-centered-inline-logo .fl-page-header-logo{
        margin: 0;
        flex: 2;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav .navbar-toggle{
        position: static;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile.fl-page-nav-centered-inline-logo .navbar-toggle,
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav-wrap{
        flex: 1;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile.fl-page-nav-centered-inline-logo .navbar-toggle{
        padding: 0;
        margin: 0;
        margin-left: auto;
        position: static;
    }
    .fl-page-nav-search form{
        top: 100%;
        background: #000000;
        border-top: 1px solid #2b2b2b;
        padding: 30px 20px;
    }
    .navbar-nav>li.menu-item-has-children:hover::before{
        display: none;
    }
    .listingBanner .fl-slide{
        display: flex !important;
        height: 150px;
        align-items: center;
        overflow: hidden;
    }
    .listingBanner .fl-slide-foreground{
        position: absolute;
    }
    .listingBanner .fl-slide-foreground .fl-slide-content{
        background: none;
    }
    .form-box .web-form .timeEstimate .ginput_container_time select{
            
        width: 100px !important;
        max-width: 60px !important;
    }
}

@media(max-width:567px){
    ul#menu-footer-menu-1{
        margin: 0;
    }
    ul#menu-footer-menu-1 li{
        text-align: center;
        display: block;
    }
    .tabs-1 .fl-tabs-label{
        width: 100%;
    }

    .fr-slider .arrow.next{
        right:-10px;
    }
    .fr-slider .arrow.prev {
        left: -10px;
    }

    /*  */
    .twoCol-iPad .fl-col-content { 
        flex-direction: column;
    }
    .twoCol-iPad .fl-col-content .fl-callout-content{
        text-align: center;
    }
    
    /* footer */
    .fl-builder-content .fl-node-58ebf54e3e616 > .fl-col-content{
        border: 0 !important;
    }

    /* detail page  */
    .toggle-image-thumbnails{
        position: static;
    }
    .toggle-image-thumbnails a{
        margin: 5px;
    }
    .product-box{
        clear: both;
        text-align: center;
    }
    .color-box{
        min-height: auto;
    }
    .product-variations{
        margin: 0;
    }
    .product-attributes{
        margin-top: 0;
    }
    .product-box a.fl-button{
        width: auto !important;
    }
}
.review-iframe iframe{
    height: 650px !important;
}